{% extends 'view/base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="content">

        <div style="padding: 40px">
            <label>Trackers List:</label>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Module</th>
                    <th scope="col">Tracked</th>
                    <th scope="col">Online</th>
                    <th scope="col">Locked?</th>
                    <th scope="col">Reached?</th>
                    <th scope="col">Warnings</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for tracker in trackers %}
                    <tr>
                        <th scope="row">{{ tracker.id }}</th>
                        <td>{{ tracker.module_id }}</td>
                        <td>{{ tracker.tracked }}</td>
                        <td>{{ tracker.is_online }}</td>
                        <td>{{ tracker.locked }}</td>
                        <td>{{ tracker.has_reached }}</td>
                        <td>{{ tracker.num_warnings }}</td>
                        <td>
                            <button onclick='location.href="{% url 'view:tracker_view' tracker.module_id %}"'
                                    type="button">View
                            </button>
                            <button onclick='location.href="{% url 'view:tracker_edit' tracker.module_id %}"'
                                    type="button">Update
                            </button>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}