{% extends 'view/base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="content">
        <div style="padding: 40px">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissable" style="margin-top: 30px">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <h5>Trackers List:</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Module</th>
                    <th scope="col">Tracked</th>
                    <th scope="col">Online</th>
                    <th scope="col">Locked?</th>
                    <th scope="col">Reached?</th>
                    <th scope="col">Warnings</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for tracker in trackers %}
                    <tr>
                        <th scope="row">{{ tracker.id }}</th>
                        <td align="center">{{ tracker.module_id }}</td>
                        <td align="center">
                            {% if tracker.tracked %}
                                <i class="fas fa-check" style="color:green"></i>
                            {% else %}
                                <i class="fas fa-times" style="color:red"></i>
                            {% endif %}
                        </td>
                        <td align="center">
                            {% if tracker.is_online %}
                                <i class="fas fa-check" style="color:green"></i>
                            {% else %}
                                <i class="fas fa-times" style="color:red"></i>
                            {% endif %}
                        </td>
                        <td align="center">
                            {% if tracker.locked %}
                                <i class="fas fa-check" style="color:green"></i>
                            {% else %}
                                <i class="fas fa-times" style="color:red"></i>
                            {% endif %}
                        </td>
                        <td align="center">
                            {% if tracker.has_reached %}
                                <i class="fas fa-check" style="color:green"></i>
                            {% else %}
                                <i class="fas fa-times" style="color:red"></i>
                            {% endif %}
                        </td>
                        <td align="center">{{ tracker.num_warnings }}</td>
                        <td>
                            <button class="btn btn-primary"
                                    onclick='location.href="{% url 'view:tracker_view' tracker.id %}"'
                                    type="button">View
                            </button>
                            <button class="btn btn-primary"
                                    onclick='location.href="{% url 'view:tracker_edit' tracker.id %}"'
                                    type="button">Update
                            </button>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}