{% extends 'view/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div id="content">
        <div style="padding: 30px">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissable" style="margin-top: 30px">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <h5>Trackers List:</h5>
            <form method="post" action="{% url 'view:gen_pass' %}">
                {% csrf_token %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Module</th>
                        <th scope="col">Tracked</th>
                        <th scope="col">Online</th>
                        <th scope="col">Locked?</th>
                        <th scope="col">Reached?</th>
                        <th scope="col">Password</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tracker in trackers %}
                        <tr>
                            <th scope="row">{{ tracker.id }}</th>
                            <td>{{ tracker.module_id }}</td>
                            <td>{{ tracker.tracked }}</td>
                            <td>{{ tracker.is_online }}</td>
                            <td>{{ tracker.locked }}</td>
                            <td>{{ tracker.has_reached }}</td>
                            <td>{{ tracker.password }}</td>
                            <td>
                                <div>
                                    <select name="{{ tracker.id }}">
                                        <option value="selected">Generate</option>
                                        <option value="released">Don't Generate</option>
                                    </select>
                                </div>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div align="center">
                    <button type="submit" class="btn btn-primary">{% trans 'Update' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}