{% extends 'view/base.html' %}
{% load staticfiles %}
{% load tag_position %}

{% block content %}
    <div id="content">
        <div style="padding: 40px">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissable" style="margin-top: 30px">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <h5>Positions List For Tracker: {{ tracker.module_id }}</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Submitted Time</th>
                    <th scope="col">Warnings</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for position in positions %}
                    <tr>
                        <th scope="row">{{ position.id }}</th>
                        <td>{{ position.lat }}</td>
                        <td>{{ position.lon }}</td>
                        <td>{{ position.created_at }}</td>
                        <td>{% get_warnings position %}</td>
                        <td>
                            <button class="btn btn-danger" onclick='location.href="{% url 'view:position_delete' position.id %}"'
                                    type="button">Remove
                            </button>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}