{% extends 'view/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div>
            <div style="margin-top: 20px">
                <h5>Tracker Details :</h5>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-offset-2 col-sm-2">
                    <label> Module Id : </label>
                </div>
                <div class="col-sm-2">
                    <p>
                        {{ tracker.module_id }}
                    </p>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <label>Is Tracked?: </label>
                </div>
                <div class="col-sm-2">
                    <p>
                        {% if tracker.tracked %}
                            <i class="fas fa-check" style="color:green"></i>
                        {% else %}
                            <i class="fas fa-times" style="color:red"></i>
                        {% endif %}
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-offset-2 col-sm-2">
                    <label> Password : </label>
                </div>
                <div class="col-sm-2">
                    <p>
                        {{ tracker.password }}
                    </p>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <label>Contact Number: </label>
                </div>
                <div class="col-sm-2">
                    <p>
                        {{ tracker.contact_num }}
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-offset-2 col-sm-2">
                    <label> Is Locked? : </label>
                </div>
                <div class="col-sm-2">
                    <p>
                        {% if tracker.locked %}
                            <i class="fas fa-check" style="color:green"></i>
                        {% else %}
                            <i class="fas fa-times" style="color:red"></i>
                        {% endif %}
                    </p>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <label>Is Online?: </label>
                </div>
                <div class="col-sm-2">
                    <p>
                        {% if tracker.has_reached %}
                            <i class="fas fa-check" style="color:green"></i>
                        {% else %}
                            <i class="fas fa-times" style="color:red"></i>
                        {% endif %}
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-offset-2 col-sm-2">
                    <label> Latitude : </label>
                </div>
                <div class="col-sm-2">
                    {{ tracker.lat }}
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <label>Longitude: </label>
                </div>
                <div class="col-sm-2">
                    {{ tracker.lon }}
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row" style="padding-top: 20px">
                <div class="col"></div>
                <div class="col" align="center">
                    <button class="btn btn-primary"
                            onclick='location.href="{% url 'view:tracker_view_positions' tracker.id %}"'
                            type="button">View Positions
                    </button>
                </div>
                <div class="col" align="center">
                    <button class="btn btn-primary" onclick='location.href="{% url 'view:tracker_edit' tracker.id %}"'
                            type="button">Update
                    </button>
                </div>
                <div class="col" align="center">
                    <button class="btn btn-primary" onclick='location.href="{% url 'view:tracker_delete' tracker.id %}"'
                            type="button">Reset
                    </button>
                </div>
                <div class="col" align="center">
                    <button class="btn btn-primary" onclick='location.href="{% url 'view:tracker_delete' tracker.id %}"'
                            type="button">Remove
                    </button>
                </div>
                <div class="col"></div>
            </div>
        </div>
        {% if graph1 != None %}
            <div style="margin-top: 20px">
                <h5>Time Difference Graph Between Consecutive Position Data:</h5>
            </div>
            <div>
                <img src="{{ graph1 }}">
            </div>
        {% endif %}
        {% if tracker.tracked == True or mapfile is not None %}
            <div style="margin-top: 20px">
                <h5>Map:</h5>
            </div>
            <div id="map" style="margin-bottom: 20px">
            </div>
        {% endif %}
    </div>
    <script>
        document.getElementById("map").innerHTML =
            '<object type="text/html" style="height: 600px; width: 100%" data="{{ mapfile }}" ></object>';
    </script>
{% endblock %}